<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/admin/cars/edit/<%=dataCar.id%>" method="post">
      <input type="text" name="brand" placeholder="brand" value="<%=dataCar.brand%>"><br>
      <input type="text" name="type" placeholder="type" value="<%=dataCar.type%>"><br>
      <input type="text" name="price" placeholder="price" value="<%=dataCar.price%>"><br>
      <input type="text" name="gambar" placeholder="link gambar" value="<%=dataCar.link_gambar%>"><br>
      <button type="submit" name="submit">submit</button><br><br>
      <a href="/admin/cars">back</a>
    </form>
  </body>
</html>
