<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Cars</title>
    <%- include layout/materialize %>
  </head>

  <body>
    <%- include layout/innerheader %>
      <br><br><br>

      <div class="row">
        <% dataMobil.forEach(mobil => { %>
          <div class="col s4">
            <h5><%= mobil.brand %> - <%= mobil.type %></h5>
            <h5><%=mobil.price.toLocaleString('en-IN', {style: 'currency', currency: 'EUR'})%></h5>
            <img class="materialboxed" data-caption="<%= mobil.brand %> - <%= mobil.type %>" width="500" src="<%= mobil.link_gambar %>">
            <form class="col s12" action="/cars" method="post">
              <div class="input-field inline">
                <input type="hidden" class="validate" name="id" value="<%=mobil.id%>">
                <input type="hidden" class="validate" name="harga" value="<%=mobil.price%>">
                <input type="text" class="validate" name="muka">
                <label>Uang Muka</label>
                <select name="bulan" class="browser-default">
                   <option value="" disabled selected>Choose your option</option>
                   <option value="6">6 Bulan</option>
                   <option value="12">12 Bulan</option>
                   <option value="18">18 Bulan</option>
                   <option value="24">24 Bulan</option>
                 </select>
              </div>
              <button type="submit" class="btn waves-effect waves-light grey" name="submit">Buy</button>
            </form>
          </div>
          <%})%>
      </div>

  </body>

</html>
