<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <%- include layout/materialize %>
  </head>

  <body>
    <%- include layout/innerheader %>
      <br><br>
      <br>
      <div class="container">
        <div class="col s6 #f48fb1 pink lighten-3" align=center>
          <h1><%= dataUser.username.toUpperCase() %></h1>
        </div>
        <a href="/profile/edit/<%= dataUser.id %>" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">edit</i></a>
        <p class="flow-text"><b>Nama User :</b>
          <%= dataUser.name %><br>
            <b>Alamat User :</b>
            <%= dataUser.address %><br>
              <b>Telfon User :</b>
              <%= dataUser.phone %><br>
                <b>Email User :</b>
                <%= dataUser.email %><br>
        </p>

        <table class="responsive-table">
          <tr>
            <th>Mobil</th>
            <th>Total Kredit</th>
            <th>Bayar Perbulan</th>
            <th>Payment</th>
            <th>Status</th>
          </tr>
          <% dataMobil.forEach(data => {%>
            <tr>
              <td>
                <%= data.Car.brand %> -
                  <%= data.Car.type %>
              </td>
              <td>
                <%=data.hutang.toLocaleString('en-IN', {style: 'currency', currency: 'EUR'})%>
              </td>
              <td>
                <%= data.sisaBulan.toLocaleString('en-IN', {style: 'currency', currency: 'EUR'}) %>
              </td>
              <td>
                <form action="/profile" method="post">
                  <button type="submit" class="btn waves-effect waves-light green" name="submit">Konfirmasi Perbayaran</button>
                </form>
              </td>
              <td>
                <%if(data.status == true) {%>
                  <p>
                    <font color="green">LUNAS</font>
                  </p>
                  <% } else {%>
                    <p>
                      <font color="red">BELUM LUNAS</font>
                    </p>
                    <%}%>
              </td>
            </tr>
            <%})%>
        </table>
      </div>
  </body>

</html>
